html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root, *{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
body{
  background: white;
}

.app{
    background: #eee;
    width: 375px;
    height: 667px;
    margin: 0 auto;
    border: 3px solid #999;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.route{
  display: flex;
  color: grey;
  margin-bottom: 5px;
  padding: 5px;
}

.destination{
margin-bottom: .5rem;
font-family: 'Montserrat', sans-serif;
}

.bus-number{
font-family: 'Montserrat', sans-serif;
color: darkgrey;
}

.frequency{
    margin-bottom: .5rem;
    font-family: 'Montserrat', sans-serif;
}

.destination-container{
  flex-grow: 1;
}

.container{
  display: flex;
  background:white;
  padding: .5rem;
  box-shadow: 0px 2px 1px 1px #ccc;
  margin-bottom: .5rem;
  align-items: center;
}

.column-2{
    width: 5rem;
}

.column-3{
  display: flex;
  align-items: center;
  margin-left: .5rem;
}

.bus-routes{
    height: 520px;
    overflow: scroll;
}

.route{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.status-bar{
    background-color: #66c900;
}

.status-bar img{
    max-width: 100%;
}

.search-bar-only{
    background: #66c900;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

.search-icons img{
    height: 1.5rem;
}

.search-icons{
    display: flex;
    height: 2rem;
    align-items: center;
}

.search-input{
    background: rgba(255, 255, 255, 0.30);
    border: 0;
    border-radius: 3px;
    padding: 0 0.5rem;
    height: 2rem;
}

.search-input::placeholder{
    color: white;
    letter-spacing: 1px;
}

.search-bar-stop{
    font-size: 1.17rem;
    color: white;
    background-color: #66c900;
    margin-bottom: .5rem;
}

.search-bar-column{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    flex-grow: 1;
}

.search-dots{
    display: flex;
    align-items: center;
    height: 2rem;
}

.search-bus-icon{
    height: 1.5rem;
    margin-left: 0.5rem;
}

.search-bus-routes-line{
    display: flex;
    background-color: #66c900;
    align-items: center;

}

.search-bus-routes{
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 14px;
    margin: 0.5rem;
}

.departure-bar{
    display: flex;
    background-color: green;
    align-items: center;
}

.departure-bar-time{
    color: white;
    margin: 0.5rem;
    letter-spacing: 1px;
    flex-grow: 1;
}

.fa-clock{
    height: 1.5rem;
    margin: 0.5rem;
    margin-top: 3px;
    color: white;
    font-size: 20px;
}

.fa-cog{
    color: white;
    font-size: 20px;
}

.fa-map-pin{
    color: white;
    font-size: 20px;
    margin: 0.5rem;
}

.fa-arrow-left{
    color: white;
    font-size: 20px;
    margin: 5px 5px 5px 0px;
}

.time{
    font-family: 'Montserrat', sans-serif;
}

.not-applicable{
    font-family: 'Montserrat', sans-serif;
}
